:root {
    --color-background: #FFFFFF;
    --color-secondary-background: #F5F5F5;
    
    --color-text-primary: #333333;
    --color-text-secondary: #666666;
    
    --color-accent-primary: #007BFF;
    --color-accent-success: #28A745;
    --color-accent-danger: #DC3545;
    --color-accent-warning: #FFC107;
    --color-accent-info: #17A2B8;
    --color-accent-muted: #6F42C1;
}